.header__top {
    width: 100%;
    width: 1400px;
    height: 500px;
    flex-direction: row;
}
p {
    font-family: var(--font-main);
    size: 0.5rem;
    color: var(--color-grey);
}


h1 {
    font-family: var(--font-headers);
    font-size: 1.8rem;
    margin-bottom: 60px;
}
.header__top-right {
    width:800px;
    justify-content: center;
    
}

.header__top-left {
    width: 500px;
    width: 35%;
    justify-content: center;
    margin-left: 70px;
    padding-left: 65px;
    padding-bottom: 40px;
    
    
}

.img-header {
    height: 395px;
    width: 220px;
    justify-content: flex-start;
    align-content: flex-start;
    margin-left: 20px;
    margin-bottom: 90px;
    gap: 0px;
    
    
}

.vertical {
    writing-mode: vertical-lr;
    justify-content: center;
    align-self: center;
    align-content: center;
    padding-left: 30px;
    
}

.header__bottom {
    width: 1500px;
    height: 200px;
    flex-wrap: wrap;
    background-color: black;
    justify-content:center;
    align-items: center;
    flex-basis: auto;
    size-adjust: 800px;
}

.heade__botton {
    width: 850px;
    height: auto;
}