.{
    display: flex;
    width: var(--max-withth);
}

p {
    font-family: var(--font-main);
}

button {
    color: #fff;
    background-color: var(--color-main);
    justify-content: center;
}

svg {
    color: var(--color-main);
    height: 2rem;
    width: 1rem;
    font-stretch: narrower;
}

.flex {
    display: flex;
}

.center {
    justify-content: center;
}

.items {
    align-items: center;
}

.nav__navbar {
    gap: 80px;
}

.
.nav__navbar-logo {
    padding-left: ;
}

.nav__navbar-menu { 
    gap: 40px;
}

.nav__navbar-buttons > div {
    gap: 10px;
    padding: 20px;
    border: solid 2px color (11, 11, 79);
}

